*{
    margin: 0 !important;
    padding: 0;
}
.pointer-cur{
    cursor: pointer !important;
}
.carousel-home{
    height: 500px;
}
.recipe-background{
    background-image: url('https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?w=740&t=st=1683212753~exp=1683213353~hmac=a5b743570d35404e024130a38f26e1c0b1092b060142a1d894e88dbe6cf3a394');
}